#calGrid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 30px repeat(5, auto);
}

#calGrid div {
    border: black solid 1px;
}

.card {
    margin: 0;
}

.container {
    margin-right:0;
    margin-left:40px;
    padding-right:0;
    padding-left:0;
}

.expense-row {
    border: dashed lightgray 1px;
}
textarea {
    background: white;
    text-align: center;
}