#calGrid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 30px repeat(5, auto);
    border: solid black 1px;
}

a {
    margin-top: 5px;
}


  select {
    display: block;
 }  

.card {
    margin: 0;
}

.red {
    background-color: aqua;
}

.datepicker {
    color:blue;
}

.hide {
    display:none;
}

#dateCard {
    min-width: 70px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: black solid 1px;
}

.card-body {
    min-height: 60px;

}