:root {
    --teal: #26a69a;
    --blue: #0145AC;
    --mediumGrey: #4E5567;
    --darkGrey: #1B212C;
}

#expCard {
    background-color: var(--teal);
    color: #ffffff;
}
#calCard {
    background-color: var(--teal);
    color: #ffffff;
}

#calGrid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 30px repeat(5, auto);
    border: solid black 1px;
    border-radius: 5px;
}

.currentPayCard {
    background-color: var(--mediumGrey);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--darkGrey);
}

a {
    margin-top: 5px;
}

select {
    display: block;
}  

.card {
    margin: 0;
}

.edit {
    font-size: 15px;
}

i:hover, .edit:hover { cursor: pointer; }

.expense-row {
    border: dashed #d2d5d7 1px;    
    background-color: #d4e9e8;
}
.expCol {
    display: inline-flex;
    height: 75px;
}

.dropover {
    background-color: rgba(0,0,0,0.3);
  }

.dropover-active {
    background-color: rgba(0,0,0,0.7);
  } 
  
#name, #desc, #amt {
    background-color: white;
    text-align: center;
}

.expItem {
    background:	#26a59a;
    color:  white;
    padding: 3px;
    margin: 2px;
    border-radius: 7px;
    line-height: 6px;
    width: 111px;
}

.red {
    background-color: aqua;
}

.datepicker {
    color: var(--blue);
}

.alert-color {
    background-color:#cc0000
}

.main-color {
    background-color: var(--blue);
    color: #d2d5d7;
}

.hide {
    display:none;
}

#dateCard {
    min-width: 70px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: var(--darkGrey) solid 1px;
}

.card-title {
    color: #ffffff;
}

.card-body {
    min-height: 60px;
}

h6 {
    font-style: italic;
}

h5 {
    font-size: 21px;
}

header h1 {
    margin: 0 0 10px 0;
    padding: 20px;
}

#calculator {
    margin-top: 15px;
    background-color: var(--teal);
    color: #ffffff;

}

#calculator span {
    padding: 0;
    background-color: var(--mediumGrey);
    border: var(--darkGrey) solid 1px;
    border-radius: 10px;
}

#enterBal {
    text-align: right;
}
#balance {
    background-color: #ffffff;
}
footer {
    margin: 0;
    padding: 0;
}

footer div {
    padding: 20px;
}

.modal {
    background-color: var(--mediumGrey);
}

.btn {
    margin-bottom: 5px;
}